body{
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 20px;
  background-color: white;
}

hr{
  border: black 1px solid;
}

.title{
  text-align: center;
}

#listado{
  display: flex;
  flex-wrap: wrap;
  /*grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  gap: 25px; /* Espacio entre los elementos */
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-around;
}

.card{
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px 55px;

  width: 100vw;
  max-width: 350px;
  min-width: 250px;
  display: flex;
  text-align: center;
  flex-direction: column;

}

.card__image {
  text-align: center;
  margin: auto 0;
}

.card__image img {
  width: 40% ;
  height: auto;
  border-radius: 8px;
}

.card__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3{
  justify-content: start;
}

.card__button {
  background-color: #2486d2;
  color: white;
  border: black 1.5px solid;
  padding: 5px 5px;
  font-size: 0.75rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  justify-content: end;
}

button:disabled
{
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
}
